body
    font-family: Helvetica, sans-serif
    margin: 0
    margin-left: auto
    margin-right: auto
    padding: 1em
    max-width: 40em
    margin-top: 1em
    margin-bottom: 1em

.title-line
    margin: 0

.subtitle-line
    font-size: .825em
    color: #444

.subtitle-piece:not(:last-child)::after
    content: " · "

p
    line-height: 1.5em

footer
    margin-top: 2em

a
    transition: color 0.15s ease-in
    color: #0044e9

    &:hover, &:focus
        color: #357edd

code
    padding: 2px
    border-radius: 0.25em

pre
    padding: 0.5em
    border-radius: 0.5em
    overflow-x: auto

.plain-link
    color: inherit

    &:hover
        color: inherit

.card
    padding: 1em
    border-radius: 0.25em
    margin-top: 1em
    margin-bottom: 1em

    transition: box-shadow 0.15s ease-in
    box-shadow: 0 2.5px 5px #999
    &:hover
        box-shadow: 0 5px 10px #999

.card-link
    @extend .plain-link
    text-decoration: none

.taxonomy-link
    @extend .plain-link

    &:hover
        color: #888
